<!-- CHANGE LOG -->
<div class="portlet solid">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Thông tin về DreamCMS
        </div>
    </div>
    <div class="portlet-body">
        <div class="scroller">
            <p>Được phát triển trên nền tảng MVC5 Microsoft</p>
            <p>
                Đến nay sau hơn 1 năm phát triển và cập nhật các chức năng mới.<br />
                DreamCMS đã mang lại cho người dung nhiều thuận lợi trong việc quản lý website của mình.
            </p>
        </div>
    </div>
</div>
