@model DreamCMS.ModelsAdmin.tbMenu

@{
    ViewBag.Title = "Xác nhận xóa Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="note note-danger">
        <h4>Bạn có chắc muốn xóa Menu "<b>@Model.tbMenuId</b>" ?</h4>
        <p>
            Hãy cẩn trọng trước khi Menu này. Việc này có ảnh hưởng đến phân quyền và các mục liên quan khác
        </p>
        <p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="@DTextHTML.ConfirmDelete" class="btn btn-danger" />
                    @Html.ActionLink(DTextHTML.BackList, "Index", null, new { @class = "btn btn-warning" })
                </div>
            }
        </p>
    </div>
</div>

