@using DreamCMS.ModelsAdmin
@model IEnumerable<tbMenu>
@{
    ViewBag.Title = "Sắp Xếp Menu";
    ViewBag.Description = "Trang sắp xếp các menu theo dạng cây thư mục.";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink(DTextHTML.Create, "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink(DTextHTML.BackList, "Index", null, new { @class = "btn btn-warning" })
</p>

<div class="row">
    <div class="col-md-8">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Sắp xếp menu
                </div>
            </div>
            <div class="portlet-body ">

                <div class="dd" id="nestable_list_1">
                    <ol class="dd-list">
                        @foreach (var m in Model)
                        {
                            @Html.Partial("__Cms/Menus/__ItemMenu", m)
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="margin-bottom-10" id="nestable_list_menu">
            <button type="button" class="btn" data-action="expand-all">Mở rộng tất cả</button>
            <button type="button" class="btn" data-action="collapse-all">Thu hẹp tất cả</button>
        </div>
        <p>
            <input type="hidden" id="nestable_list_1_output" class="form-control col-md-12 margin-bottom-10" />
            <button type="button" class="btn btn-success" id="btn-sortmenu">Cập nhật</button>
        </p>
        <div id="msg" class="label"></div>
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/assets/plugins/jquery-nestable/jquery.nestable.css" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/plugins/jquery-nestable/jquery.nestable.js"></script>
    <script>
        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize'))); //, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            $('#nestable_list_1').nestable({ group: 1 })
                .on('change', updateOutput);

            setTimeout(function () { $('.dd').nestable('collapseAll'); }, 500);
            updateOutput($('#nestable_list_1').data('output', $('#nestable_list_1_output')));


            $('#nestable_list_menu').on('click', function (e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });

            isUpdate = false;
            $('#btn-sortmenu').click(function () {
                if (isUpdate) { return; }
                isUpdate = true;
                $(this).addClass("disabled").text("Loading...");
                $.post("/Admin/Menus/SortMenu", { dataAjax: $('#nestable_list_1_output').val() })
                .done(function (data) {
                    if (data.result)
                    {
                        $('#msg').removeAttr("class").addClass("label label-success").text(data.msg);
                        setTimeout(function () { location.reload(); }, 500);
                    }                        
                    else
                        $('#msg').removeAttr("class").addClass("label label-danger").text(data.msg);
                    $('#btn-sortmenu').removeClass("disabled").text("Cập nhật");
                    isUpdate = false;
                })
                .error(function (data) {
                    $('#msg').removeAttr("class").text(data);
                    $('#btn-sortmenu').removeClass("disabled").text("Cập nhật");
                    isUpdate = false;
                });                     
            });

        });
    </script>
}