@model DreamCMS.Models.Page
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Intro;
    ViewBag.Keywords = Model.Keyword;
    ViewBag.ImageUrl = Model.ImgUrl;
}

@if (Model != null)
{
    <!-- PAGE -->
    <div class="panel panel-default panel-page-blank">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
        </div>
        <div class="panel-body">
            @if (string.IsNullOrEmpty(Model.Context))
            {
                <h5>Thông tin đang cập nhật vui lòng quay lại sau.</h5>
            }
            else
            {
                @Html.Raw(Model.Context)
            }
        </div>
    </div>
}
