@using DreamCMS.ModelsAdmin
@{
    List<tbMenuInGroup> ListMenu = ViewBag.ListMenu;    

    ViewBag.SBActionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.SBControllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <form class="sidebar-search">
                    <div class="form-container">
                        <div class="input-box">
                            <a href="javascript:;" class="remove">
                            </a>
                            <input type="text" placeholder="Filter menu..." />
                            <input type="button" class="submit" value=" " />
                        </div>
                    </div>
                </form>
            </li>

            @if(ListMenu!=null){
                for (int i = 0; i < ListMenu.Count; i++)
                {
                    ViewBag.SBIsStart = i == 0 ? true : false;
                    ViewBag.SBIsLast = i == ListMenu.Count-1 ? true : false;
                    @Html.Partial("_Layout/__ItemMenu", ListMenu[i])
                }                       
            }

        </ul>

    </div>
</div>