@model DreamCMS.ModelsAdmin.tbUser

@{
    ViewBag.Title = "Xác nhận xóa tài khoản người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="note note-danger">
        <h4>Bạn có chắc muốn xóa tài khoản "<b>@Model.Username</b>" ?</h4>
        <p>
            Hãy cẩn trọng trước khi xóa tài khoản. Việc này có ảnh hưởng đến phân quyền và các mục liên quan khác
        </p>
        <p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                    @Html.ActionLink("Trở về DS", "Index", null, new { @class = "btn btn-warning" })
                </div>
            }
        </p>
    </div>
</div>
