@using DreamCMS.Models
@using MvcPaging
@model IPagedList<Product>

@{
    ViewBag.Title = "Danh sách các sản phẩm";
    ViewBag.Description = "Các sản phẩm thuộc công ty,...";
    ViewBag.Keywords = "sản phẩm, danh sách, công ty";
}

<!-- SẢN PHẨM -->
<div class="well-edit well-product">
    <h4 class="h4"><span>Sản phẩm</span></h4>
    <div class="row">
        <div class="list-product">
            @foreach (Product pd in Model)
            {
                <div class="item-product">
                    <div class="item-product-img">
                        <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl"><img src="@pd.ImgUrl" alt="@pd.ProductName" /></a>
                    </div>
                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl"><h5>@pd.ProductName</h5></a>
                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl"><span class="view-more">Xem chi tiết</span></a>
                </div>
            }
        </div>
    </div>
</div>

<nav class="text-center">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(7)
            .AlwaysAddFirstPageNumber()
        )
</nav>