/*! 
    Author: Uy Pham Vuong 
    FB: fb.com/uymin
*/
/*! ========================================
    FONT
    ======================================== */
/*! ========================================
    ICON
    ======================================== */
/*! ========================================
    MAIN 
    ======================================== */

/* SPINER */
.loading-container{position: fixed; top:0;bottom:0;left:0; right:0; background-color: #fff;z-index: 999999;}
.loading-container .logo{position: absolute;top: 30px;left: -70px; float:none; text-align:center}
.loading-container .logo img{margin-left: -5px; display:inline-block;}
.loading-icon{position:fixed;left:50%;top:36%;z-index:9999}
.pulse{border:4px solid #18ac3c; height:30px;width:30px;position:absolute;left:-15px;top:-15px;-webkit-animation:pulsate 1s ease-out;-moz-animation:pulsate 1s ease-out;-o-animation:pulsate 1s ease-out;animation:pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite;border-radius:30px;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
@-webkit-keyframes pulsate{0%{-webkit-transform:scale(.1,.1);-moz-transform:scale(.1,.1);-ms-transform:scale(.1,.1);-o-transform:scale(.1,.1);transform:scale(.1,.1);opacity:0}50%{opacity:1}100%{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);transform:scale(1.2,1.2);opacity:0}}
@-moz-keyframes pulsate{0%{-webkit-transform:scale(.1,.1);-moz-transform:scale(.1,.1);-ms-transform:scale(.1,.1);-o-transform:scale(.1,.1);transform:scale(.1,.1);opacity:0}50%{opacity:1}100%{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);transform:scale(1.2,1.2);opacity:0}}
@keyframes pulsate{0%{-webkit-transform:scale(.1,.1);-moz-transform:scale(.1,.1);-ms-transform:scale(.1,.1);-o-transform:scale(.1,.1);transform:scale(.1,.1);opacity:0}50%{opacity:1}100%{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);transform:scale(1.2,1.2);opacity:0}}

.navbar-menu-t {
  font-family: 'Open Sans', sans-serif;
  border: none;
  background: transparent;
}
.navbar-menu-t a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#scrolltop{
    position: fixed;
    background-color: #12872e;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-weight: 700;
}
a {
  color: #68B459;
}
a:hover {
  color: #12872e;
}
body {
  background-color: #eee;
}
#header {
  
}
#wrap {
  background-color: #fff;
}
.navbar-menu-t-fixed {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius:0;
}
.navbar-menu-t-fixed .navbar-collapse {
  max-height: 200px;
  overflow: auto;
}
#panel-top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}
.navbar-menu-container
{
    background-color: #fff;
}
.intro-t {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
.panel-edit {
  margin-top: 10px;
  padding-bottom: 0;  
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.panel-edit .panel-heading {
  padding: 0;
  border: 0;
}
.panel-edit .panel-heading h4 {
  padding: 9px 7px;
  background-color: #40B42A;
  color: #fff;
  margin-top: 0; 
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.panel-edit .panel-body {
  padding: 0;
  margin: 0;
}
.panel-category-product > .panel-body > ul {
  padding-left: 0;
}
.panel-category-product .panel-body > ul > li {
  list-style: none;
}
.panel-category-product .panel-body > ul > li > a {
  display: block;
  background-color: #12872e;
  color: #fff;
  text-decoration: none;
  padding: 5px 5px 5px 20px;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}
.panel-category-product .panel-body > ul > li > a:hover {
  background-color: #18ac3c;
}
.panel-category-product .panel-body > ul > li ul {
  padding-left: 0;
}
.panel-category-product .panel-body > ul > li ul > li {
  color: #fff;
  border-bottom: 1px solid #ddd;
  list-style: none;
  position: relative;
}
.panel-category-product .panel-body > ul > li ul > li > a {
  color: #fff;
  padding: 5px 5px 5px 5px;
  display: block;
  padding-left: 40px;
  text-decoration: none;
  background-color: #3C9C54;
}
.panel-category-product .panel-body > ul > li ul > li > a:hover {
  color: #000;
  background-color: #18ac3c;
}
.panel-category-product .panel-body > ul > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 99;
  margin: 0;
  padding: 0;
  display: none;
}
.panel-category-product .panel-body > ul > li > ul > li:hover > ul {
  display: block;
}
.panel-category-product .panel-body > ul > li > ul > li > ul > li > a {
  list-style: none;
  padding-left: 10px;
  min-width: 200px;
}
.panel-news .panel-body{
    padding: 10px;
}
.panel-news a{
    color: #555;
    font-weight: 700;
    font-size: 0.9em;
    text-decoration: none;    
}
.panel-news a:hover{
    color: #12872e;
}
.panel-news ul {
  padding-left: 20px;
}
.panel-news ul li {
  margin-bottom: 5px;
}
.bg-dark {
  background-color: #333;
  color: #fff;
}
.panel-bottom {
  margin-bottom: 30px;
}
.copyright {
  background-color: #111;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}
.well-edit {
  padding: 10px;
  margin-bottom: 10px;
  clear: both;
}
.well-edit.well-intro {
  font-family: 'Open Sans', sans-serif;
}
.well-edit .h4 {
  padding-top: 0;
  margin: 5px -10px 30px -10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;    
}

.well-edit .h4 span{
    border-bottom: 3px solid #18ac3c;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    min-width: 100px;
    display:inline-block;
    color: #555;
}

.list-product{
    border-top: 1px dashed #aaa;
    border-left: 1px dashed #aaa;
    overflow:hidden;
}
.item-product {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border-right: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
  float:left;
  width: 25%;
  padding: 10px;
}
.item-product:hover {
  border-color: #9a9a9a;
  background-color: #e8e8e8;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}
.item-product h5 {
  font-weight: 700;
  padding: 5px;
  height: 50px;
  overflow: hidden;
  margin: 0 0 5px 0;
}
.item-product .view-more {
  display: block;
  padding: 5px 7px;
  background-color: #eaeaea;
  color: #000;
}
.item-product-img {
  overflow: hidden;
  text-align: center;
}
.item-product-img img {
  display: inline-block;
  max-width: 100%;
}
.item-product:hover a{
    text-decoration:none;
}
.well-partner .prev,
.well-partner .next {
  cursor: pointer;
  text-align: center;
  padding: 5px 15px!important;
  min-width: inherit!important;
  background-color: #e1e1e1;
  border-bottom:0!important;
}
.well-partner .prev:hover,
.well-partner .next:hover {
  background-color: #555555;
  color: #fff;
}
.item-partner{
    padding: 0 7px;
}
.item-partner span {
  font-weight: 700;
  margin: 0 5px;
}
.item-partner-img {
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}

#render-body{float: right;}
#slidebar{float:left;}

.well-event{
    padding: 0;
}

.well-event .row{
    margin-bottom: 10px;
}

.event-item{
    margin-bottom: 15px;
}

.event-item .img{
    overflow:hidden;
    height: 150px;
    text-align:center;
}
.event-item .img img{
    max-width: 100%;
}

.event-item .sub{
    font-size: 12px;
    overflow:hidden;
    height: 250px;
}

.item-event-img{
    margin-bottom: 10px;
}
.item-event-sub h5{
    margin-top:0;
    padding-top: 0;
}

.edit-revolution .tp-bullets, 
.edit-revolution .tparrows,
.edit-revolution .tp-bannertimer{display:none;}

.medium_grey{
    padding: 10px 20px; 
    background-color: rgba(0,0,0,0.5); 
    color: #fff;
    border-radius: 3px;
}

.addthis_native_toolbox{
    margin-bottom: 15px;
}

.body-activity{
    overflow: hidden;
}

.menu-cart{
    display:none!important;
}

.navbar-nav > li.active a {
    background-color: #12872e !important;
    color: #fff !important;
    -moz-transition: 0 all ease;
    -o-transition: 0 all ease;
    -webkit-transition: 0 all ease;
    transition: 0 all ease;
}

.navbar-nav>li:hover{
    background-color: #18ac3c;    
}

.navbar-nav>li:hover a{
    color: #fff!important;
    -moz-transition: 0 all ease;
    -o-transition: 0 all ease;
    -webkit-transition: 0 all ease;
    transition: 0 all ease;
}

.codeauth {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    letter-spacing: 5px;
}

@media (min-width: 1100px) {
    .container {
        width: 80%;
        min-width: 1000px;
    }

    .item-product-img {
        height: 150px;
    }

    .item-product.col3x4 .item-product-img {
        height: 200px;
    }
}
@media (min-width: 768px) and (max-width: 1099px) {
    .container {
        width: 90%;
        min-width: 750px;
    }

    .item-product {
        width: 50%;
    }

    .item-product-img {
        height: 170px;
    }
}
@media (max-width: 767px) {
    .logo-t {
        text-align: center;
    }

        .logo-t a {
            display: inline-block;
        }

    .item-product {
        width: 50%;
    }

        .item-product h5 {
            font-size: 1.3em;
        }

    .item-product-img {
        height: 170px;
    }

    .panel-category-product .panel-body > ul > li > ul > li:hover > ul {
        position: static;
        display: block;
    }

    .panel-category-product .panel-body > ul > li > ul > li > ul > li > a {
        padding-left: 60px;
    }

    #render-body {
        float: none;
    }

    #slidebar {
        float: none;
    }

    .event-item .sub {
        height: auto;
    }

    .event-item .img {
        height: auto;
    }
}
@media (max-width: 480px) {
    .well-edit .h4 span {
        display: block;
        margin-bottom: 10px;
        padding-left: 0;
    }

    .item-product {
        width: 100%;
    }

    .item-product-img {
        height: auto;
    }
}
@media (max-width: 320px) {
   
}
/*! ========================================
    RESPONSIVE
    ======================================== */
/*# sourceMappingURL=core.css.map */