
/*

    Hi! Fuck All!!!

*/

/* Import Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

/* ======================== BODY & PAGE ALL */

body{
    font-family: 'Open Sans', sans-serif;
}

.text-main{color:#ed3237}
.text-bold{font-weight:bold;}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    border-radius: 100%;
    width: 46px;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    background-color: #ed3237;
    border: 0;
}
.back-to-top:hover{
    color: #ed3237;
    background-color: #fff;
}
.no-padding-right{
    padding-right:0;
}
.btn-info { 
    background-color: #ed3237 !important;
    color: #fff !important;
}
.caption.sfl.medium_grey{
    background-color: rgba(0,0,0,0.5)!important;
    color:#fff!important;
    padding:10px!important;
    border-radius: 3px;
}
.codeauth {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    letter-spacing: 5px;
}
#usersCount{
    display: inline-block;
    color: #ed3237;
}
#web-right{
    float:right;
}
.navbar-brand{
    display:none;
}

/* ======================== HEADER */
/* Header */
.header {
    background-color: #eee;
    min-height: 240px;
    margin-bottom: 20px;
}

.header .logo{
    text-align:center;
}

.header .slogan{
    padding: 20px 0;
}

.slogan h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    font-size: 54px;
    font-weight:bold;
}
.slogan p{
    font-size: 20px;
}

.slogan .slogan-text{
    font-size: 20px;
}

.img-logo {
    width: 90%;
}
/* Video */
.dvc img{
    width: 85px;
    height: 70px;
    padding: 3px;
    border: 1px solid #ccc;
}
.dvc li{
    list-style: none;
    display: inline-block;
}

/* Navbar */
.navbar-home{
    background-color: #333;
    margin-bottom: 0;
    border:0;
    border-radius:0!important;
}

.navbar-home a{
    color: #ccc!important;
    font-size: 16px;
}
    .navbar-home a:hover {
        color: #fff !important;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
#bs-example-navbar-collapse-1 .nav>li>a{
        text-transform:uppercase;
}

.navbar-home .active a{
    background-color: #ed3237!important;
    color: #fff!important;
}

.navbar-home .navbar-nav>.open>a, 
.navbar-home .navbar-nav>.open>a:focus, 
.navbar-home .navbar-nav>.open>a:hover{
    background-color: #222;
}
.navbar-home .dropdown-menu{
    background-color: #222;
    border-top:0;
}
.navbar-home .dropdown-menu>li>a:focus, 
.navbar-home .dropdown-menu>li>a:hover{
    background-color: #ed3237
}
.navbar-home .dropdown-menu .divider{
    background-color: #4a4a4a;
}
.navbar-home .navbar-collapse{
    border-top: 1px solid #444;
}
/*Button .navbar-toggle*/
.navbar-home .navbar-toggle,
.navbar-home .navbar-toggle:hover,
.navbar-home .navbar-toggle:focus{
    border:0;
    background: #333;
    color: #fff;
}
.navbar-home .navbar-toggle .icon-bar{
    background-color: #fff;
}

/* ======================== LEFT COL*/
.sidenav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin-bottom: 20px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #ed3237 !important;
}
.panel-product>.panel-heading, .panel-page-blank>.panel-heading {
    background-color: #ed3237 !important;
    color: #fff !important;
    text-align: left;
}
.panel-product .thumbnail{
    padding: 0;
    overflow:hidden;
    height: 400px;
    position:relative;
}
    .panel-product .thumbnail img {
        padding: 0;
    }
.panel-product .caption h4{
    font-family: 'Montserrat', sans-serif;
}
.panel-product .caption p.des{
    overflow: hidden;
}
.panel-product .btn.btn-info{
    border:0;
}
.panel-product div[class*="col"]{
}
.panel-product .panel-body{

}
.panel-product .title-product{
    color: #000;
}
.panel-product .img-product {
    width: 100%;
    height: 200px;
    background-size: cover!important;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.panel-product .a-img-product {
    width:100%;
    display:inline-block;
    overflow:hidden;
}
.panel-product .row-price-product{
    position:absolute;
    bottom: 20px;
}
.panel-product .thumbnail:hover .img-product,
.panel-product .thumbnail:focus .img-product {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);    
}

/*panel-news*/
.panel.panel-news {
    box-shadow: none;
}
.panel-news .panel-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: #ed3237;
    text-align: left;
    padding-left:0;    
    position:relative;
    margin-bottom: 15px;
}
    .panel-news .panel-heading:after {
        height: 2px;
        width: 40%;
        content: ' ';
        position: absolute;
        background-color: #ed3237;
        bottom: 0;
        left: 0;
        right:0;
    }
    .panel-news .thumbnail{
        border-radius: 0;
    }
    .panel-news .thumbnail img{
        padding: 0;
    }
    .panel-news .big-title{
        font-family: 'Montserrat', sans-serif;
        font-weight:bold;
    }
.sma-news{
    display:inline-block;
}
.sma-news .thumbnail{
    float: left;
    width: 35%;
    margin-bottom: 5px;
}
    .sma-news .sma-title {
        float: left;
        margin-left: 10px;
        width: 60%;
        padding-top:0;
        margin-top:0;
        font-weight: bold;
    }
.panel-news iframe{
    border: 0;
    width: 100%!important;
}

/*panel-page-blank*/
.panel-page-blank .item-event-sub a{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}
.panel-page-blank .item-event-sub a h5{
    font-size: 18px;
}
.panel-page-blank .item-event-sub p {
    font-style: italic;
}

/*left menu*/
.margintop20 {
    margin-top:20px;
}
.nav-pills>li>a {
border-radius: 0px;
}
.nav-stacked a {
color: #000;
text-decoration: none;
}

a:hover {
color: #000;
text-decoration: none;
}
.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
}

.active2 {
    border-right:4px solid #ed3237 !important;
}

/* ======================== FOOTER */

footer {
    color: white;
    padding: 20px 0 0 0;
    background-color: #36333e;
}
.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0;
}
    .bottom_ul li {
        float: left;
        line-height: 40px;
    }
    .bottom_ul li:after {
        content: "/";
        color: #fff;
        margin-right: 8px;
        margin-left: 8px;
    }
    .bottom_ul li a {
        color: #fff;
        font-size: 12px;
    }
.copyright {
    min-height: 40px;
    background-color: #ed3237;
}
    .copyright p {
        text-align: left;
        color: #fff;
        padding: 10px 0;
        margin-bottom: 0;
    }
.footerleft {
    margin-top: 20px;
    margin-bottom: 20px;
}
.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}
.footerleft p i { width:20px; color:#999;}