@model DreamCMS.ModelsAdmin.LoginOrForgotPasswordModel

<!-- BEGIN FORGOT PASSWORD FORM -->
@using (Html.BeginForm("FormForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form" }))
{ 
    @Html.AntiForgeryToken()
    <h3>Bạn quên mật khẩu ?</h3>
    <p>
        Nhập email của bạn để lấy lại mật khẩu.
    </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            @Html.TextBoxFor(m => m.ForgotPasswordModel.Email, new { @class = "form-control placeholder-no-fix", autocomplete="off", placeholder="Email" })
            @Html.ValidationMessageFor(m => m.ForgotPasswordModel.Email, null, new { @class = "help-block" })
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn col-xs-12 col-sm-4">
            <i class="m-icon-swapleft"></i> Quay lại
        </button>
        <button type="submit" class="btn green col-sm-offset-4 col-xs-12 col-sm-4">
            Xác nhận <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
}
