@model DreamCMS.Models.SliderImg

@{
    ViewBag.Title = "Xác nhận xóa thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="note note-danger">
        <h4>Bạn có chắc muốn xóa hình ảnh "<b>@Model.TitleImg</b>" ?</h4>
        <p>
            Hãy chắc chắn rằng bạn muốn xóa hình ảnh này?
        </p>
        <p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="@DTextHTML.ConfirmDelete" class="btn btn-danger" />
                    @Html.ActionLink(DTextHTML.BackList, "Index", null, new { @class = "btn btn-warning" })
                </div>
            }
        </p>
    </div>
</div>
