@using DreamCMS.Models

<!-- [FOOTER] -->
<footer>
    <div class="container" style="margin-bottom: 3vh">
        <div class="row">
            <div class="col-md-4 col-sm-12 footerleft ">
                @Html.Raw(Setting.Get("BottomContact"))
            </div>
            <!--<div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">GENERAL LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Career</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms & Conditions</a></li>
                    <li><a href="#"> Client Gateway</a></li>
                    <li><a href="#"> Ranking</a></li>
                    <li><a href="#"> Case Studies</a></li>
                    <li><a href="#"> Frequently Ask Questions</a></li>
                </ul>
            </div>-->
            <div class="col-md-4 col-sm-6 footer-map">
                <div class="post">
                    <div id="property_map_home" style="width:100%;height:300px;"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 footer-fanpage">
                <iframe src="https://www.facebook.com/plugins/page.php?href=@Html.Encode(Setting.Get("FacebookFanpage"))&tabs=timeline&width=340&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" height="300" style="border:none;overflow:hidden;width:100%" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2016 - All Rights with DREAM-CMS</p>
                </div>
                <div class="col-md-6">
                    <ul class="bottom_ul">
                        <li><a href="/lien-he">Liên hệ</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>