
@using DreamCMS.Models
@{
    DBFrontEnd db = new DBFrontEnd();
    List<GroupProduct> ListGroupProduct = db.GroupProducts.Where(x => x.IsDisable == false).OrderBy(x => x.GroupName).OrderBy(x => x.Order).ToList();
    if (ListGroupProduct == null) { ListGroupProduct = new List<GroupProduct>(); }
    

}
<div class="col-sm-3 sidenav">
    <div>
        @foreach (GroupProduct gr in ListGroupProduct)
        {
            if (gr.IdRoot == null)
            {


                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><span class="glyphicon"></span>@gr.GroupName</a></li>
                    @foreach (GroupProduct gr_sub in ListGroupProduct)
                    {
                        if (gr_sub.IdRoot == gr.GroupProductId)
                        {
                            <li><a href="#" class=""><span class="glyphicon "></span>-   @gr_sub.GroupName</a></li>
                        }

                    }
                </ul>
                                <div class="clear" style="padding: 10px;"></div>
            }
        }
    </div>
    @*<ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#" class="color-white"><span class="glyphicon "></span>LINH KIỆN</a></li>
            <li><a href="#"><span class="glyphicon "></span>Gối</a></li>
            <li><a href="#" class=""><span class="glyphicon "></span>Thiết bị gạc mưa</a></li>
            <li><a href="#"><span class="glyphicon"></span>Bệ bước ô tô</a></li>
            <li><a href="#"><span class="glyphicon"></span>Nước hoa ô tô</a></li>
        </ul>*@

    <div class="clear" style="padding: 10px;"></div>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> HỖ TRỢ TRỰC TUYẾN</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> lehuuhien1991@gmail.com</a></li>
        <li><a href="#" class=""><span class="glyphicon glyphicon-earphone"></span> 090 909 0091</a></li>
    </ul>
    <div class="clear" style="padding: 10px;"></div>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-heart"></span> THỐNG KÊ TRUY CẬP</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Đang trực tuyến :</a></li>
        <li><a href="#" class=""><span class="glyphicon glyphicon-star-empty"></span> Ngày:</a></li>
        <li><a href="#" class=""><span class="glyphicon glyphicon-fire"></span> Tháng:</a></li>
        <li><a href="#" class=""><span class="glyphicon glyphicon-subtitles"></span> Tổng:</a></li>
    </ul>
</div>

