@using DreamCMS.Models

@{
    DBFrontEnd db = new DBFrontEnd();
    List<Banner> ListBanner = db.Banners.OrderByDescending(x => x.Order).ToList();
    if (ListBanner == null) { ListBanner = new List<Banner>(); }
    if (ListBanner.Count == 0) { return; }
}

<div id="rev_sliderTop_wrapper" class="rev_slider_wrapper fullwidthbanner-container edit-revolution" style="margin:0 auto;background-color:#E9E9E9;padding:0;margin-top:0;margin-bottom:0;">
    <div id="rev_sliderTop" class="rev_slider fullwidthabanner" style="display:none;">
        <ul>
            @foreach (Banner lb in ListBanner)
            {
                <li data-transition="random" data-slotamount="7" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-link="@lb.Link">
                    <img src="@lb.ImgUrl" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                </li>
            }
        </ul>
    </div>
</div>





