@using DreamCMS.Models
@using MvcPaging
@model IPagedList<Post>

@{
    ViewBag.Title = "Danh sách các hoạt động";
    ViewBag.Description = "Các hoạt động trong và ngoài công ty,...";
    ViewBag.Keywords = "hoạt đông, danh sách, công ty";
}

<!-- HOẠT ĐỘNG -->
<div class="well-edit well-event">
    <h4 class="h4"><span>Hoạt động</span></h4>

    @foreach(Post po in Model)
    {
        <div class="row">
            <div class="col-sm-3 item-event-img">
                <a href="/hoat-dong/@po.TitleId"><img class="img-responsive" src="@po.ImgUrl" /></a>
            </div>
            <div class="col-sm-9 item-event-sub">
                <a href="/hoat-dong/@po.TitleId"><h5>@po.Title</h5></a>
                <p>
                    @po.Intro
                </p>
            </div>
        </div>
    }
    
    <nav class="text-center">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(7)
            .AlwaysAddFirstPageNumber()
        )
    </nav>
</div>
